*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  hanging-punctuation: first allow-end last;
}

/* CUSTOM PROPERTIES */
:root {
    --purple-text: #070014;
    --purple-active: #240046;
    --purple-focus: #3C096C;
    --purple-main: #5A189A;
    --purple-200: #E4C2FF;
    --purple-150: #F8EBFF;  

    --gold-accent: #EBB51E;
}

/* BODY */
body {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
        'sidebar header'
        'sidebar main';
}

/* HEADER */
header {
    grid-area: header;
}

/* SIDEBAR */
.sidebar {
    grid-area: sidebar;

    
}